<div class="container-fluid " style="height: 1000px; background-color: rgb(14, 108, 185)">
    <div class="row">
        <div class="col-12">
            <h1 class=" display-2 text-warning text-center">Contact</h1>
        </div>
        <div class="col-9 mx-auto">
            <div class="card">
                <div class="card-body">
                        <h2 class="card-title">Nicolas Rubino</h2>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit numquam tenetur nemo, quod omnis assumenda suscipit, sint possimus fugiat repellendus error, modi voluptatum doloremque animi laboriosam sed corporis commodi libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>