<header class="container-fluid pt-5" style="height: 100vmin; padding-bottom: 100vh;">
    <div class="position-static overflow-hidden text-left text-light">
        <div class="col-12 mt-5">
            <h1 class="display-4 fw-normal">Travail de Synthese</h1>
        </div>
        <div class="col-4 mt-3">
            <p class="lead fw-normal">Voici le travail de synthese de Nicolas Rubino pour le cours 420-345-AL de la session AUT 2020. Liens vers le GitHub :</p>
            <button type="button" class="btn btn-lg bg-secondary text-light" href="">Link</button>
        </div>
    </div>
</header>
