header {
    width: 100%;
    height: 80vh;
    margin-bottom: 5%;
    background: url("D:\Downloads\CEGEP\Session_5\WEB\TP_Synthese\TPSynthese\src\assets\images\error5.png") center center no-repeat;
    background-size: cover;
  }