<footer class="fixed-bottom" >
    <div class="bg-dark">
        <div class="container" style="height: 10vmin;">
                <div class="row py-1 d-flex align-items-end">
                    <div class="col-12 text-center pt-1">
                        <a href="https://www.facebook.com" class="fab fa-facebook fa-2x mx-4 text-warning"></a>
                        <a href="https://www.twitter.com" class="fab fa-twitter fa-2x mx-4 text-warning"></a>
                        <a href="https://www.instagram.com" class="fab fa-instagram fa-2x mx-4 text-warning"></a>
                        <a href="https://www.youtube.com" class="fab fa-youtube fa-2x mx-4 text-warning"></a>
                    </div>
                    <div class="col-12 text-center text-light pb-2">
                        <span>@ 2020 Copyright. Andre-Laurendeau</span>
                    </div>
            </div>
        </div>
    </div>
</footer>